.auth__wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header--unset {
	width: auto;
	height: min-content;
}

.auth__input-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.auth__input-wrapper + .auth__input-wrapper {
	margin-top: 1rem;
}

.auth__label {
	font-family: var(--fnt-fmly);
	font-size: 1.1rem;
	text-transform: uppercase;
}

.auth__input {
	font-family: var(--fnt-fmly);
	font-weight: var(--fnt-weg-500);
	padding: 0.5rem;
	border-radius: 5px;
	border: 0;
	font-size: 1.2rem;
}

.auth__input:focus {
	outline: 2px solid var(--clr-two);
}

.auth__alert {
	font-family: var(--fnt-fmly);
	font-weight: var(--fnt-weg-500);
	margin-top: 1rem;
}

.authSubmit {
	margin-top: 1rem;
	padding: 0.5rem;
	font-family: var(--fnt-fmly);
	font-size: 1.1rem;
	border-radius: 5px;
	border: 0;
	background-color: var(--clr-one);
}

.authSubmit:focus {
	outline: 2px solid var(--clr-two);
}

.authChange {
	display: block;
	margin-top: 1.8rem;
	background-color: transparent;
	border: 0;
	font-family: var(--fnt-fmly);
	font-size: 1.05rem;
	border-bottom: 2px solid #0c0c00;
}
