.navbar {
	/* background-color: transparent; */
	/* height: 70px; */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 999;
}

.navbar-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* height: 80px; */
	/* max-width: 1500px; */
}
.navbar-container div {
	padding: 0 10px;
}

.navbar-logo {
	color: #fff;
	justify-self: start;
	margin-left: 20px;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
	display: flex;
	align-items: center;
	/* font-family: Helvetica, Arial, sans-serif; */
	font-family: var(--fnt-fmly);
}

.fa-typo3 {
	margin-left: 0.5rem;
	font-size: 1.8rem;
}
.fa-times {
	color: #fff;
	font-size: 2rem;
}

.nav-menu {
	display: flex;
	flex-direction: column;
	width: 20%;
	/* height: 100vh; */
	position: absolute;
	top: 100px;
	right: -100%;
	opacity: 1;
	transition: all 0.5s ease;
}
.nav-menu.active {
	/* background-color: rgba(255, 255, 254, 0.2); */
	background-color: white;
	right: 20px;
	/* opacity: 1; */
	transition: all 0.5s ease;
	z-index: 1;
	box-shadow: rgb(20, 20, 20) 15px 10px 40px;
	border-radius: 10px;
	width: 20%;
}

.nav-item {
	height: 80px;
}

.nav-links {
	text-align: center;
	padding: 2rem;
	width: 100%;
	display: table;
}

.nav-links:hover {
	/* background-color: rgba(255, 255, 254, 0.1); */
	background-color: rgb(231, 227, 227);
	color: #242424;
	border-radius: 10px;
	text-decoration: none;
}

.nav-links:visited {
	/* background-color: rgba(255, 255, 254, 0.1); */
	background-color: rgb(231, 227, 227);
	color: #242424;
	border-radius: 10px;
	text-decoration: none;
}

.fa-bars {
	color: #fff;
}

.nav-links-mobile {
	display: block;
	text-align: center;
	margin: 2rem auto;
	border-radius: 4px;
	width: 80%;
	text-decoration: none;
	font-size: 1.5rem;
	/* background-color: transparent; */
	background-color: white;
	color: #fff;
	padding: 14px 20px;
	border: 1px solid #fff;
	transition: all 0.3s ease-out;
}
.nav-links-mobile:hover {
	background: #fff;
	color: #242424;
	transition: 250ms;
}

.menu-icon {
	display: block;
	font-size: 1.8rem;
	cursor: pointer;
}

.navbar__logo {
	height: 30px;
	width: 30px;
}
.no-bullets {
	list-style-type: none;
}
