
.wordle-app {
	width: 100vw;
	/* height: calc(100vh - 60px); */
	height: 110vh;
	font-family: Helvetica, Arial, sans-serif;
}

.wordle-app {
	text-align: center;
	background-color: white;
	color: black;
}
.wordle-app h1 {
	font-size: 50px;
	margin-top: 20px;
	margin-right: -70px;
}

body {
	padding: 0%;
	margin: 0;
}

nav {
	height: 60px;
	width: 100%;
	margin: 0;
	/* border-bottom: 1px solid grey; */
	display: grid;
	place-items: center;
}

nav h1 {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	font-size: 45px;
}
.game {
	/* width: 100vw;
	height: calc(100vh - 170px); */
	/* width: 100vw;
	height: 100vh; */
	display: flex;
	/* padding-top: 50px; */
	/* flex-direction: row; */
}

.board {
	width: 450px;
	height: 550px;
	border: 1px solid white;
	display: flex;
	/* align-items: center; */
	flex-direction: column;
}

.row {
	flex: 33%;
	display: flex;
	flex-direction: row;
	margin: 5px;
}

.letter-cell {
	flex: 33%;
	height: 100%;
	border: 1px solid grey;
	margin: 5px;
	display: grid;
	place-items: center;
	font-size: 30px;
	font-weight: bolder;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

.white {
	background-color: white;
}

.green {
	background-color: #528d4e;
}

.yellow {
	background-color: #b49f39;
}

.grey {
	background-color: rgb(181, 181, 181);
}

.keyboard {
	width: 700px;
	height: 300px;
	margin-top: 60px;
}

.line1 {
	flex: 33%;
	display: flex;
	flex-direction: row;
	display: flex;
	justify-content: center;
	margin: 5px;
}
.line2 {
	flex: 33%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 5px;
}
.line3 {
	flex: 33%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 5px;
}

.key {
	width: 50px;
	height: 70px;
	margin: 5px;
	border-radius: 4px;
	display: grid;
	place-items: center;
	font-size: 20px;
	background-color: grey;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}

#big {
	width: 100px;
}
#disabled {
	background-color: #3a393c;
}

.webcam-detection {
	width: 320px;
	height: 290px;
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	justify-content: center;
	/* width: 270px;
	height: 240px; */
	/* width: 450px;
	height: 550px; */
	background-color: white;
}

.webcam {
	position: absolute;
	z-index: 9;
	width: 270px;
	height: 240px;
	background-color: black;
}

.canvas {
	position: absolute;
	z-index: 9;
	width: 270px;
	height: 240px;
}

#board-parent {
	width: 50vw;
	margin-top: 100px;
}

#webcam-parent {
	display: flex;
	flex-direction: column;
	width: 50vw;
	justify-content: flex-end;
	align-items: center;
	/* height: 100vh; */
}

.detecting {
	/* display: flex;
	flex-direction: column;
  width: 50vw;
  justify-content: flex-end; */
	display: flex;
	text-align: center;
	/* align-items: center; */
	/* height: 100vh; */
}
.guess {
	/* display: flex;
	flex-direction: column;
  width: 50vw;
  justify-content: flex-end;
  align-items: center; */
	display: flex;
	text-align: center;
	/* height: 100vh; */
}

.btn__wordle {
	margin-top: 10rem;
	padding: 1.2rem 5rem;
	background-color: var(--clr-one);
	border: 3px solid black;
	border-radius: 50px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 0.07rem;
	font: var(--fnt-weg-800) 1.3rem/1.3rem var(--fnt-fmly);
}
